@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(to right bottom ,yellow,orange,red);
}
.wrapper{
    width: 400px;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 100%;
    background: linear-gradient(to right bottom ,yellow,orange,red);
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(87,11,16,0.5);
    position: relative;
    border-radius: 8px;
    text-align: center;
}
.container:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: -1;
    top: -10%;
    left: 10%;
}
.container p{
    color: #363333;
    line-height: 2;
    font-size: 18px;
}
.container h3{
    color: #ffffff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}
.container button{
    background-color: #ffffff;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #f43543;
    cursor: pointer;
    transition: .3s ease-in;
}
.container button:active{
    transform: scale(.9);
}